<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL"/>
  </root>
  <logger name="HSMS">
    <level value="ALL" />
    <appender-ref ref="HSMSFile"/>
  </logger>

  <appender name="HSMSFile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\LC_Log\HSMS\HSMS_.log" />
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <maxSizeRollBackups value="50"/>
    <maximumFileSize value="20MB"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyy-MM-dd"/>
    <preserveLogFileNameExtension value="true"/>
    <countDirection value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{ISO8601}] %message%newline"/>
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{ISO8601}]%message%n%exception"/>
    </layout>
  </appender>
</log4net>